@import '../fonts/fonts.css';

* {
    font-family: 'Roboto', sans-serif;
}
:root {
    --fontColor: #ffffff;
    --backgroundColor: #4263EB
}
button {
    background: var(--backgroundColor);
    color: var(--fontColor);
}