@import '../fonts/fonts.css';

* {
    font-family: 'Roboto', Inter, sans-serif;
}
:root {
    --white: #ffffff;
    --primary: #4263EB
}
button {
    background: var(--primary);
    color: var(--white);
}